
Options +FollowSymLinks
<IfModule mod_rewrite.c>
    RewriteEngine On
	RewriteBase /Myframework2/

	RewriteCond %{REQUEST_URI} !/public/
	RewriteRule (.*) public/index.php/$1 [R=301,L]
	RewriteRule ^$ public [L]
</IfModule>

#RewriteEngine On
#RewriteRule ^(.*)$ public/$1 [L]
